SECRET_KEY = ""

ALLOWED_HOSTS = []

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "",
        # number of seconds database connections should persist for
        "CONN_MAX_AGE": 600,
        "USER": "",
        "HOST": "",
        "PASSWORD": "",
    }
}

BASE_URL = 'http://example.com'

SLACK_SIGNING_SECRET = ""
SLACK_BOT_TOKEN = "xoxb"

PIESOCKET_API_KEY = ""
PIESOCKET_SECRET = ""
PIESOCKET_ENDPOINT = ""
